/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	width: 450px;
	text-align: center;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}
#closed-captions {
	margin: 1em;
	display: flex;
	justify-content: center;
}

#video-placeholder{
	margin: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	position:relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 600px;
	height: 400px;
	z-index: 1;
}
.voice0 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-align: center;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor */
  	white-space: wrap; /* Keeps the content on a single line */
 	margin: 5 auto; /* Gives that scrolling effect as the typing happens */
 	letter-spacing: .15em; /* Adjust as needed */
  	animation: 
    typing 0.8s steps(100, end),
    blink-caret .1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.voice1 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-align: center;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
 	border-right: .1em solid white; /* The typwriter cursor */
 	white-space: wrap; /* Keeps the content on a single line */
 	margin: 2; /* Gives that scrolling effect as the typing happens */
 	letter-spacing: .13em; /* Adjust as needed */
 	animation: 
    typing 0.8s steps(100, end),
    blink-caret .1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.voice2 {
	font-family: "Brenner Mono";
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-align: center;
}

.voice5 {
	font-family: "Brenner Mono Regular";
	font-style: italic;
	font-weight: 300;
	font-size: 17px;
	color: white;
	text-align: center;
}

.voice6 {
	font-family: "Brenner Mono Regular";
	font-style: italic;
	font-weight: 300;
	font-size: 16px;
	color: white;
	text-align: center;
}

.voice7 {
	font-family: "Brenner Mono Regular";
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	color: white;
	text-align: center;
}

.voice3 {
	font-family: "Brenner Sans Medium";
	font-style: normal;
	font-weight: 200;
	font-size: 15px;
	color: white;
	text-align: center;
}
.voice4 {
	font-family: "Brenner Slab";
	font-style: Normal;
	font-weight: 400;
	font-size: 15px;
	color: white;
	text-align: center;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */
.sound0{
	background-color: black;
}
.sound1 {
	background: rgb(104, 0, 0);
}

iframe {
	transition: 1s;
}
.sound1 iframe {
	transform: translateX(10px) rotate(10deg) translateY(5px);
}

.sound2 iframe{
	transform: translateX(0px) rotate(0deg) translateY(0px);
}
.sound2 {
	background-color: black;
}
/*Downloaded from https://www.codeseek.co/jodacame/scanner-animation-css3-ozOpjJ */
.sound3 iframe{
	animation: pop 1s linear 1;
} 

@keyframes pop{
	50%  {transform: scale(1.2);}
  } 

.sound3 #monitor .screen {
	margin: 100%;
	margin-top:100%;
	width:100%;
	height:100%;
	background:transparent;
	background-size:cover;
	background-color: rgba(0,0,0,.2);
  }
  
.sound3 #monitor .scan {
	width:100%;
	height: 1.5px;
	margin-top: -1em;
	background-color:white;
	position:relative;
	z-index:3;
	 -moz-animation: scan 2s ;
	-webkit-animation: scan 2s ;
	animation: scan 2s ;
	animation-iteration-count: 2;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-fill-mode: forwards;
	box-shadow:0px 0px 15px white;
}
  @keyframes scan {
	0%, 100% {
	  -webkit-transform: translateY(0px);
	  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(240px);
	  transform: translateY(300px);
	}
}

.sound5 iframe{
	animation: pop2 1s linear 1;
} 

@keyframes pop2{
	50%  {transform: scale(1.2);}
  }

.sound5 #monitor .screen2 {
	margin: 100%;
	margin-top:100%;
	width:100%;
	height:100%;
	background:transparent;
	background-size:cover;
	background-color: rgba(0,0,0,.2);
  }
  
.sound5 #monitor .scan2 {
	width:100%;
	height: 1.5px;
	margin-top: -1em;
	background-color:white;
	position:absolute;
	z-index:3;
	 -moz-animation: scan 2s ;
	-webkit-animation: scan 2s ;
	animation: scan 2s ;
	animation-iteration-count: 2;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-fill-mode: forwards;
	box-shadow:0px 0px 15px white;
}
  
  @keyframes scan2 {
	0%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(240px);
	  transform: translateY(300px);
	}
}

.sound7 iframe{
	animation: pop3 1s linear 1;
} 

@keyframes pop3{
	50%  {transform: scale(1.2);}
  }

.sound7 #monitor .screen3 {
	margin: 100%;
	margin-top:100%;
	width:100%;
	height:100%;
	background:transparent;
	background-size:cover;
	background-color: rgba(0,0,0,.2);
  }
  
.sound7 #monitor .scan3 {
	width:100%;
	height: 1.5px;
	margin-top: -1em;
	background-color:white;
	position:absolute;
	z-index:3;
	 -moz-animation: scan 2s ;
	-webkit-animation: scan 2s ;
	animation: scan 2s ;
	animation-iteration-count: 2;
	-webkit-animation-direction: alternate-reverse;
	-webkit-animation-fill-mode: forwards;
	box-shadow:0px 0px 15px white;
}
  
  @keyframes scan3 {
	0%, 100% {
	  -webkit-transform: translateY(0);
	  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(240px);
	  transform: translateY(300px);
	}
}  
.sound9 #glow {
	width: 700px;
	height: 500px;
	margin-top: -40em;
	margin-left: 18em;
	z-index:0;
	border-radius: 50%;
	position: absolute;
	box-shadow:
	  inset 0 0 50px #fff,      /* inner white */
	  inset 20px 0 80px #fff,   /* inner left magenta short */
	  inset -20px 0 80px #fff,  /* inner right cyan short */
	  inset 20px 0 300px #fff,  /* inner left magenta broad */
	  inset -20px 0 300px #fff, /* inner right cyan broad */
	  0 0 50px #fff,            /* outer white */
	  -10px 0 80px #fff,        /* outer left magenta */
	  10px 0 80px #fff;         /* outer right cyan */
	  animation: fadeIn ease 41s;
	  opacity: 0;
} 
  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}



/* **********************************************
Ondertiteling per sound
*********************************************  */
#soundtexten p {
	opacity: 0;
	transition: .05s;
	position: relative;
	width: 450px;
	text-align: center;
}
#soundtexten .on {
	opacity: 1;
}
#soundtexten .off {
	transition: .2s;
	opacity: 0;
}
.sound1 .sound1lowalarm {
    font: "Brenner Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: yellow;
    text-align: center;
	position: relative;
    margin-top: 5em;
	margin-left: 27em;
	animation: fadeinout 2.5s linear forwards;
	opacity: 1;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}

.sound2 .sound2alarm{
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	text-align: center;
	color: yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 2.5s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}

.sound3 .sound3scan {
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color:yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 3s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}

.sound6 .sound6scan {
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color:yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 3s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}
.sound7 .sound7scan {
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color:yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 3s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}

.sound9 .sound9highpitch {
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color:yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 40s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}

.sound10 .sound10Mysty {
	font: "Brenner Slab";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color:yellow;
	margin-top: -2em;
	margin-left: 27em;
	text-align: center;
	animation: fadeinout 42s linear forwards;
	opacity: 0;
} 
@keyframes fadeinout{
	50% {
		opacity: 1;
	}
}