/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

#closed-captions {
	margin: 4em;
	display: flex;
	justify-content: center;
}
#video-placeholder{
	margin: auto;
	padding-top: 3em;
	display: block;

	display: flex;
	justify-content: center;

	width: 500px;
	height: 300px;
}
.voice0 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 300;;
	font-size: 15px;
	color: white;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 5 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 0.8s steps(100, end),
    blink-caret .1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.voice1 {
	font-family: "Brenner Mono";
	font-style: normal;
	font-weight: 300;;
	font-size: 15px;
	color: white;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 5 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 0.8s steps(100, end),
    blink-caret .1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.voice2 {
	font-family: "Brenner Mono Regular";
	font-style: italic;
	font-weight: 300;;
	font-size: 15px;
	color: white;
}
.voice3 {
	font-family: "Brenner Sans Bold";
	font-style: normal;
	font-weight: 800;;
	font-size: 15px;
	color: white;
	text-align: center;
}
.voice4 {
	font-family: "Brenner Mono";
	font-style: italic;
	font-weight: 300;;
	font-size: 15px;
	color: turquoise;
}

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound0{
	background-color: black;
}
.sound1 {
	background: rgb(104, 0, 0);
}

iframe {
	transition: 1s;
}
/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 iframe {
	transform: translateX(10px) rotate(10deg) translateY(5px);
}

.sound2 iframe{
	transform: translateX(0px) rotate(0deg) translateY(0px);
}
.sound2 {
	background-color: black;
}

.sound3 {
	overflow: visible; /* Ensures the content is not revealed until the animation */
	border-top: .15em solid white; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 5 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
	  typing 2s steps(100, end),
	  blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: white }
  }
  


